@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;
@use "../../abstracts/grid" as *;

.cta {
	position: relative;
	background-color: $grey-dark;

	.row {
		padding: $padding-container-mob;
		max-width: $container-max-width;
		margin-right: auto;
		margin-left:  auto;

		@include breakpoint(md) {
			padding: $padding-container-desc;
		}
	}

	&__btn {
		margin-top: 20px;
		padding: 14px 24px;
		font-size: $fs-md;
		line-height: 22px;
	}
}
