@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;
@use "../../abstracts/grid" as *;

.cta {
	position: relative;
	background-color: $grey-dark;

	&__row {
		padding: $padding-spaces-mob;
		max-width: $container-max-width;
		margin-right: auto;
		margin-left:  auto;

		@include breakpoint(md) {
			padding: $padding-spaces-desc;
		}
	}

	.section-header {
		margin-bottom: 0;
	}

	&__title {
		@media (orientation: landscape)  and  (max-width: 991px) {
			width: 80%;
		}
	}

	&__btn {
		margin-top: 20px;
		padding: 14px 20px;
		font-size: $fs-md;
		line-height: 22px;

		@media (orientation: landscape)  and  (max-width: 991px) {
			font-size: $fs-base;
		}
	}
}
