@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;
@use "../../abstracts/grid" as *;

.statistics {
	position: relative;
	background-color: $grey-dark;

	&__row {
		padding: $padding-spaces-mob;
		max-width: $container-max-width;
		margin-inline: auto;

		@include breakpoint(md) {
			padding: 120px 0;
		}
	}

	&__body {
		@include apply-flex($flex-center-column);
		gap: 24px;
		margin-top: 30px;


		@include breakpoint(md) {
			flex-direction: $flex-row;
			gap: 70px;
		}
	}

	&__number {
		font-size: $fs-desk-title;
		font-weight: $regular;
		color: $green-color;
		margin-bottom: 20px;

		@media (orientation: landscape)  and  (max-width: 991px) {
			font-size: 40px;
		}
	}

	&__content-text {
		font-family: Inter,system-ui,sans-serif;
		line-height: 140%;
		color: $grey-light;
		text-align: center;

		@media (orientation: landscape)  and  (max-width: 991px) {
			font-size: $fs-sm;
		}
	}
}
