@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;
@use "../../abstracts/grid" as *;

.technologies {
	position: relative;

	&__row {
		padding: $padding-spaces-mob;

		@include breakpoint(md) {
			padding: $padding-spaces-desc;
		}
	}

	&__image {
		@include apply-flex($flex-center);

		@include breakpoint(md) {
			@include apply-flex($flex-start-center);
		}

		img {
			width: 80%;

			@include breakpoint(sm) {
				width: 70%;
			}

			@include breakpoint(md) {
				width: 100%;
			}

			@media (orientation: landscape)  and  (max-width: 991px) {
				width: 40%;
			}
		}
	}

	&__content {
		@include apply-flex($flex-center-column);

		gap: 16px;

		@include breakpoint(md) {
			gap: 40px;
			margin-top: 20px;
		}
	}

	&__card {
		display: $d-flex;
		gap: 20px;
		padding: 24px 20px;
		border: 1px solid $grey-3;
		border-radius: 20px;

		@include breakpoint(md) {
			gap: 24px;
			padding: 30px 20px;
		}

		@media (orientation: landscape)  and  (max-width: 991px) {
			width: 50%;
		}
	}

	&__card-icon {
		display: $d-flex;
		align-items: $align-start;
		flex-shrink: 0;

		svg {
			@media (orientation: landscape)  and  (max-width: 991px) {
				width: 25px;
			}
		}
	}

	&__card-title {
		@include fluid-text(20, 18);

		font-family: Inter,system-ui,sans-serif;
		line-height: 140%;
		color: $white-color;
		margin-bottom: 8px;

		@media (orientation: landscape)  and  (max-width: 991px) {
			font-size: $fs-base;
		}
	}

	&__card-description {
		color: $grey-light;
		font-size: $fs-sm;
		line-height: 19px;

		@media (orientation: landscape)  and  (max-width: 991px) {
			font-size: $fs-xs;
		}
	}
}
