@use "variables" as *;
@use "mixins" as *;


$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

$grid-columns: 12 !default;
$grid-gutter: 30px !default;

// containers

$container-max-width: 1230px !default;

.container {
	width: 100%;
	max-width: $container-max-width;
	padding-right: $grid-gutter / 2;
	padding-left:  $grid-gutter / 2;
	margin-right: auto;
	margin-left:  auto;
}

.container-fluid {
	width: 100%;
	padding-right: $grid-gutter / 2;
	padding-left:  $grid-gutter / 2;
}


// row

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$grid-gutter / 2;
	margin-left:  -$grid-gutter / 2;
}

.row > * {
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: $grid-gutter / 2;
	padding-left:  $grid-gutter / 2;
}

// columns

.col        { flex: 1 0 0; }
.col-auto   { flex: 0 0 auto; width: auto; }

@for $i from 1 through $grid-columns {
	.col-#{$i} { flex: 0 0 auto; width: percentage($i / $grid-columns); }
}

// Адаптивні колонки
@each $bp-name, $bp-value in $grid-breakpoints {
	@if $bp-name != xs {
		@media (min-width: $bp-value) {
			.col-#{$bp-name}       { flex: 1 0 0; }
			.col-#{$bp-name}-auto  { flex: 0 0 auto; width: auto; }

			@for $i from 1 through $grid-columns {
				.col-#{$bp-name}-#{$i} {
					flex: 0 0 auto;
					width: percentage($i / $grid-columns);
				}
			}
		}
	}
}

