@use "sass:math";
@use "variables" as *;

// контрольные точки
@mixin breakpoint($name) {
	$width: map-get($grid-breakpoints, $name);
	@include media($width) {
		@content;
	}
}

//медиа выражение
@mixin media($width) {
	@media (min-width: $width) {
		@content;
	}
}

//преобразование значений из px в rem

@function rem($pixel) {
	@if math.is-unitless($pixel) {
		@return math.div($pixel, 16) + rem;
	} @else {
		@error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.'
	}
}

//адаптивный размер шрифта через clamp, rem, vw

@mixin fluid-text($max: 48, $min: 16) {
	$maxViewportWidth: 1140;
	$minViewportWidth: 360;

	$maxSize: math.div($max, 16);
	$minSize: math.div($min, 16);
	$maxWidth: math.div($maxViewportWidth, 16);
	$minWidth: math.div($minViewportWidth, 16);

	$slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
	$yAxisIntersection: -$minWidth * $slope + $minSize;

	font-size: clamp(
		#{$minSize * 1rem},
		#{$yAxisIntersection * 1rem} + #{$slope * 100vw},
		#{$maxSize * 1rem}
	);
}
