$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

//flexbox

// міксін для всіх flex-карт
@mixin apply-flex($map) {
	@each $prop, $val in $map {
		#{$prop}: $val;
	}
}

$d-flex:            flex;

$flex-row:          row;
$flex-column:       column;

$flex-nowrap:       nowrap;
$flex-wrap:         wrap;

$justify-start:     flex-start;
$justify-end:       flex-end;
$justify-center:    center;
$justify-between:   space-between;

$align-start:       flex-start;
$align-end:         flex-end;
$align-center:      center;


$flex-center:       (
	display: flex,
	justify-content: $justify-center,
	align-items: $align-center
);

$flex-center-column: (
	display: flex,
	flex-direction: $flex-column,
	justify-content: $justify-center,
	align-items: $align-center
);

$flex-between:      (
	display: flex,
	flex-direction: $flex-row,
	justify-content: $justify-between,
	align-items: $align-center
);

$flex-start-center: (
	display: flex,
	flex-direction: $flex-row,
	justify-content: $justify-start,
	align-items: $align-center
);

$flex-end-center:   (
	display: flex,
	flex-direction: $flex-row,
	justify-content: $justify-end,
	align-items: $align-center
);

//colors
$green-color: rgba(157, 255, 58, 1);
$black-color: rgba(0, 0, 0, 1);
$white-color: rgba(229, 229, 229, 1);
$grey-light: rgba(153, 153, 153, 1);
$grey-2: rgba(77, 77, 77, 1);
$grey-3: rgba(46, 46, 46, 1);
$grey-dark: rgba(15, 15, 15, 1);

//typography
$fs-xs: 12px;
$fs-sm: 14px;
$fs-base: 16px;
$fs-md: 18px;
$fs-lg: 20px;
$fs-mob-title: 28px;
$fs-desk-title: 48px;

$extra-bold: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;

//
$padding-spaces-mob: 40px 0;
$padding-spaces-desc: 80px 0;
