@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@forward "sections/hero";
@forward "sections/partners";
@forward "sections/features";
@forward "sections/statistics";

.content {
	flex: 1;
}
