@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@forward "sections/hero";
@forward "sections/partners";
@forward "sections/features";
@forward "sections/statistics";
@forward "sections/technologies";
@forward "sections/reviews";
@forward "sections/faq";
@forward "sections/cta";

.content {
	flex: 1;
}
