@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

.btn {
	font-size: $fs-base;
	font-weight: $regular;
	line-height: 19px;
	padding-block: 14px;
	padding-inline: 24px;
	border-radius: 40px;
}

.btn--primary {
	background-color: $green-color;
	color: $black-color;
	transition: 0.25s;

	&:hover,
	&:focus-visible {
		background-color: lighten($green-color, 8%);
		transform: scale(1.05);
		box-shadow: 0 8px 24px -6px color-mix(in srgb, $green-color 40%, transparent);
	}
}

.badge {
	width: fit-content;
	font-size: $fs-sm;
	font-weight: $regular;
	line-height: 17px;
	color: $green-color;
	border: 1px solid $grey-3;
	border-radius: 24px;
	backdrop-filter: blur(40px);
	text-align: center;
}

.logo {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	gap: 10px;

	span {
		color: rgba(255, 255, 255, 1);
		font-size: 22px;
		font-weight: $medium;
		line-height: 26px;
	}
}

.section-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;


	@include breakpoint(md) {
		gap: 20px;
		margin-bottom: 40px;
	}

	&__badge {
		padding: 12px 20px;
	}

	&__title {
		@include fluid-text(48, 28);
		font-weight: $regular;
		line-height: 100%;
		text-transform: capitalize;
		color: $white-color;
	}

	&__description {
		@include fluid-text(18, 16);

		font-family: Inter,system-ui,sans-serif;
		line-height: 19px;
		color: $grey-light;
		text-align: center;
		width: 90%;

		@include breakpoint(md) {
			line-height: 140%;
			width: 60%;
		}
	}
}
