@charset "utf-8";
@use "abstracts/variables" as *;
@use "abstracts";
@use "components";
@use "layout";
@use "modals";
@use "../../node_modules/scss-reset/reset.scss";

* {
	text-decoration: none;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	font-family: Alexandria,sans-serif;
	background-color: $black-color;
}



