@charset "utf-8";
@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "abstracts";
@use "components";
@use "layout";
@use "modals";
@use "../../node_modules/scss-reset/reset.scss";

* {
	text-decoration: none;
}

html,body {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	position: relative;
	display: $d-flex;
	flex-direction: $flex-column;
	min-height: 100dvh;
	width: 100%;
	font-family: Alexandria,sans-serif;
	background-color: $black-color;
}



